.profile {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  position: relative;
}

.profile-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user__thumb {
    border: 2px solid #FF991C;
    height: 150px;
    width: 150px;
    margin: 0;
  }

  .user__name {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 0;
    font-weight: bold;
    transition: all ease-in-out .2s;
    color: black;

    span {
      color: rgb(77, 77, 77);
      font-weight: normal;
      font-size: 1.4rem;

      &:before {
        content: "-";
        margin: 0 10px;
      }
    }
  }
}

@media screen and (min-width: 728px) {
  .profile-data {
    padding: 40px 16px 20px;

    .user__thumb {
      height: 200px;
      width: 200px;
    }
  }
}
