.user__thumb {
  display: flex;
  border-radius: 100%;
  overflow: hidden;
}

.user__thumb__wrapper {
  border-radius: 100%;
  border: 2px solid rgb(245, 245, 245);
  display: inline-block;
  overflow: hidden;
}

.user__thumb img {
  height: 100%;
  width: 100%;
}

.user__thumb--hasNew {
  background: linear-gradient(45deg, #D51589 0%, #FF991C 100%);
}
